@font-face {
    .font-face('Open Sans', 'OpenSans', normal, normal);
}

@font-face {
    .font-face('Open Sans', 'OpenSans-Light', 300, normal);
}

@font-face {
    .font-face('Open Sans', 'OpenSans-Bold', bold, normal);
}

.font-face (@family, @name, @weight, @style) {
    font-family: @family;
    src: url('../fonts/@{name}.eot');
    src: url('../fonts/@{name}.eot?#iefix') format('embedded-opentype'),
        url('../fonts/@{name}.woff2') format('woff2'),
        url('../fonts/@{name}.woff') format('woff'),
        url('../fonts/@{name}.ttf') format('truetype'),
        url('../fonts/@{name}.svg#@{name}') format('svg');
    font-weight: @weight;
    font-style: @style;
}

.bg-highest-priority () {
    background: linear-gradient(to bottom, @highest-priority-secondary  0%, @highest-priority-primary 100%);
}

.bg-high-priority () {
    background: linear-gradient(to bottom, @high-priority-secondary 0%, @high-priority-primary 100%);
}

.bg-normal-priority () {
    background: linear-gradient(to bottom, @normal-priority-secondary 0%, @normal-priority-primary 100%);
}

.bg-low-priority () {
    background: linear-gradient(to bottom, @low-priority-secondary 0%, @low-priority-primary 100%);
}

.bg-lowest-priority () {
    background: linear-gradient(to bottom, @lowest-priority-secondary 0%, @lowest-priority-primary 100%);
}