<div class="task">
    <div class="task-header {{ task.priority }}-priority">
        <div class="task-title">{{ task.name }}</div>
        <div class="task-info container">
            <div class="task-info-header highlight">
                <span class="info-title-header">id</span>
                <span class="info-title-header">Category</span>
                <span class="info-title-header">Priority</span>
                <span class="info-title-header">Tag</span>
                <span class="info-title-header">Estimated Time</span>
            </div>
            <div class="task-info">
                <span class="info-text">{{ task.id | formatTaskId }}</span>
                <span class="info-text category">{{ category | capitalize }}</span>
                <span class="info-text">{{ task.priority }}</span>
                <span class="info-text">{{ task.tag }}</span>
                <span class="info-text">{{ task.estimated_time }}</span>
            </div>
        </div>
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    </div>
    <div class="task-description container highlight">
        <div class="description-title header">Description</div>
        <div class="task-description">{{ task.description }}</div>
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    </div>
    <div class="task-reporter container">
        <div class="reporter-title header">Reporter</div>
        <div class="task-reporter-header header-secondary-container highlight">
            <span class="reporter-title header-secondary">id</span>
            <span class="reporter-title header-secondary">name</span>
            <span class="reporter-title header-secondary">e-mail</span>
        </div>
        <div class="task-reporter">
            <span class="reporter text">{{ task.reporter.id }}</span>
            <span class="reporter text">{{ task.reporter.name }}</span>
            <span class="reporter text">{{ task.reporter.email }}</span>
        </div>
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    </div>
    <div class="task-watchers container">
        <div class="watchers-title header highlight">Watchers</div>
        <div class="task-watchers">
            <span class="watchers text" *ngFor="let watcher of task.watchers">
                {{ watcher }}
            </span>
        </div>
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    </div>
    <div class="task-dates container">
        <div class="dates-title header">Dates</div>
        <div class="task-dates-header header-secondary-container highlight">
            <span class="dates-title header-secondary">Creation date</span>
            <span class="dates-title header-secondary">Due date</span>
        </div>
        <div class="task-dates">
            <span class="dates text">{{ task.creation_date | date:'MM.dd.yyyy hh:mm:ss a' }}</span>
            <span class="dates text">{{ task.due_date | date:'MM.dd.yyyy hh:mm:ss a' }}</span>
        </div>
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    </div>
</div>