<header class="header">
    <div class="header-wrapper">
        <div class="title-container">
            <span class="title">Kanban</span>
            <span class="delimiter"> / </span>
            <span class="description">{{ title }}</span>
        </div>
        <div *ngIf="searchAvailable" class="search-container">
            <input type="text" class="search" placeholder="Search...">
            <i class="fa fa-search" aria-hidden="true"></i>
        </div>
    </div>
</header>



<ul>
    <li>
        <h2><a routerLink="board">Board</a></h2>
        <h2><a routerLink="/">Home</a></h2>
        <router-outlet></router-outlet>
    </li>
</ul>