<div class="board">
    <div class="board-header">
        <div class="header-section primary">
            <div class="header-title todo">To Do</div>
            <div class="header-title plan">Plan</div>
            <div class="header-title development">Development</div>
            <div class="header-title test">Test</div>
            <div class="header-title deploy">Deploy</div>
        </div>
        <div class="header-section secondary">
            <span class="header-title empty"></span>
            <span class="header-title">Active</span>
            <span class="header-title">Complete</span>
            <span class="header-title">Active</span>
            <span class="header-title">Complete</span>
            <span class="header-title empty"></span>
        </div>
    </div>
    <div class="section-container">
        <div class="board-section todo">
            <ng-container *ngFor="let task of todoTasks">
                <board-task [task]="task" [routerLink]="['/task', task.id]"></board-task>
            </ng-container>
        </div>
        <div class="board-section plan-active">
            <ng-container *ngFor="let task of planActiveTasks">
                <board-task [task]="task" [routerLink]="['/task', task.id]"></board-task>
            </ng-container>
        </div>
        <div class="board-section plan-complete">
            <ng-container *ngFor="let task of planCompleteTasks">
                <board-task [task]="task" [routerLink]="['/task', task.id]"></board-task>
            </ng-container>
        </div>
        <div class="board-section development-active">
            <ng-container *ngFor="let task of developmentActiveTasks">
                <board-task [task]="task" [routerLink]="['/task', task.id]"></board-task>
            </ng-container>
        </div>
        <div class="board-section development-complete">
            <ng-container *ngFor="let task of developmentCompleteTasks">
                <board-task [task]="task" [routerLink]="['/task', task.id]"></board-task>
            </ng-container>
        </div>
        <div class="board-section test">
            <ng-container *ngFor="let task of testTasks">
                <board-task [task]="task" [routerLink]="['/task', task.id]"></board-task>
            </ng-container>
        </div>
        <div class="board-section deploy">
            <ng-container *ngFor="let task of deployTasks">
                <board-task [task]="task" [routerLink]="['/task', task.id]"></board-task>
            </ng-container>
        </div>
    </div>
</div>