<div class="dashboard-container">
    <div class="dashboard-wrapper">
        <div class="total-container dashboard-block">
            <div class="tasks">Total Tasks: <span class="value">12</span></div>
            <div class="estimated_time">Total Estimated Time: <span class="value">5d</span></div>
        </div>
        <div class="charts-container dashboard-block">
            
        </div>
        <div class="button-container dashboard-block">
            <button class="button-view-board" routerLink="/board">View Board</button>
        </div>
    </div>
</div>